<%- include('head'); -%>
<main>
    <div class="jumbotron">
        <h2><%= item.title %></h2>
        <p><%= item.description %></p>
        <p>Created on: <%= item.creationDate %></p>
    </div>
</main>
<%- include('foot'); -%>